@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide{
    width: 500px;
    margin: auto;

    img{
        width: 200px;
        height: 250px;
    }
}