@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Mukta&family=Noto+Serif&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

.navbar{

   nav{
    display: flex;
    justify-content: space-between;
    
    .logo{
        color: white;
        font-size: 1.3rem;
        font-family: 'Noto Serif', serif;
        display: flex;
        justify-content: space-between;
        width: 160px;

        .logo-icon{
            font-size: 35px;
            color: #ff7b3e;
            transform: translateY(2.5px);
        }

        .logo-name{
            font-size:  30px;
        }
    }

    .nav-items{
        display: flex;
        width: 50%;
        justify-content: space-between;

        .search{
            color:rgb(173, 173, 173);
            background-color:white;
            border-radius: 100px;
            padding: 5px;
            font-size: 25px;
            transition: 0.5s;

            &:hover{
                background-color: rgb(5, 155, 255);
                color: white;
            }
        }

    ul li{
        display: inline-block;
        margin: auto 20px;
        // align

        a{
            text-decoration: none;
            color: white;
            font-family: 'Heebo', sans-serif;
            font-size: 15px;

            &:hover{
                color: white;
            }
        }

        .underline{
            width: 0;
            transition: 0.5s;
            color: white;
            opacity: 0;
        }

        a:hover .underline{
            width: 100%;
            opacity: 1;
        }
        
    }

    .name{
        color: rgb(255, 255, 255);
        font-family: 'Heebo', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 1000;
    }

    
    .sign-btn{
         width: 140px;

        button{
            background: transparent;
            border: none;
            margin-left: 20px;
            
            a{
                text-decoration: none;
                color:white;
                font-family: 'Heebo', sans-serif;
                font-size: 15px;

                &:hover{
                    color: white;
                }
            }

            .underline{
                width: 0;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover .underline{
                 width: 100%;
                 opacity: 1;
                 color: white;
            }
        }
    }
    }
   }
   }


   .enter-info{
    z-index: 100;
    position: absolute;
    left: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 136, 216, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    transform: translate(-137px,-27px);

    .create-section{
        background-color: white;
        width: 33%;
        border-radius: 20px;
        box-shadow: 0 0 10px 3px grey;

        .about{
            margin: 20px auto;
            font-size: 25px;
            font-family: 'Mukta', sans-serif;
            color: rgb(5, 155, 255);
        }

        .create-input{
            // display:grid ;
            width: 70%;
            
            input{
                width: 100%;
                margin: 10px auto;
                height: 50px;
                border-radius: 5px;
                border-color: rgb(214, 214, 214);
                border: 1px solid grey;
                transform: translate(22%);
                font-size: 15px;
                padding: 0 10px;
                outline: none;
            }

            
        }

        .footer{
            margin: 12px auto;
            width: 70%;
            padding: 0 0 10px;
        

            .login-btn{
                display: block;
                width: 100%;
                background-color: rgb(5, 155, 255);
                border: none;
                border-radius: 5px;
                height: 50px;
                color: white;
                font-size: 1rem;
                margin-bottom: 20px;
                opacity: 0.9;

                &:hover{
                    opacity: 1;
                }
            }

            a{
                text-decoration: none;
                color: rgb(0, 89, 255);
                font-size: 13px;
                margin: auto 10px 20px;
                font-family: 'Heebo', sans-serif;
            }
        }
    }

   }